html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

@font-face {
  font-family: RSU;
  src: url(../fonts/RSU_Regular.ttf);
}

@font-face {
  font-family: KeepCalm;
  src: url(../fonts/KeepCalm-Medium.ttf);
}

body {
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h4 {
  font-family: "KeepCalm", sans-serif;
}

h1 {
  font-size: 40px;
}

p {
  font-family: "RSU", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
  top: 0;
}

// we'll add this class using javascript
.nav-up {
  top: -40px;
}

header {
  text-align: center;
  width: 100%;
  font-family: "RSU", sans-serif;
  position: fixed;
  padding: 20px 10px 10px 10px;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  transition: 0.2s;
  z-index: 9999;
}

header.with-background {
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999;
}

header a {
  margin-right: 20px;
}

header a.register {
  background-color: #fff;
  color: #007189;
  padding: 1px 10px;
  border-radius: 100px;
}

header a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero-button {
  font-family: "RSU", sans-serif;
  font-size: 30px;
  padding: 5px 15px;
  display: inline-block;
  background-color: #fff;
  color: #534E8C;
  border-radius: 360px;
}

.hero-button:hover {
  transform: scale(1.05);
  transition: .1s ease;
}

.intro-wrapper {
  background: linear-gradient(#037289, #5e4a88);
  height: 850px;
  text-align: center;
}

.intro-wrapper .logo {
  transform: translateX(-20px);
  display: inline-block;
  width: 450px;
  height: 350px;
}

.stars-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sponsor {
  display: block;
  margin-top: -50px;
  text-align: center;
}

.sponsor-badge {
  background: url(../img/badge.svg) no-repeat;
  margin: 5px 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.hero-text {
  margin-top: 20px;
}

.sub-hero-text {
  font-size: 30px;
  margin-top: 30px;
}

.register-button {
  position: absolute;
  width: 100vw;
  align-items: center;
  margin: 20px 0px;
}

.about-wrapper {
  background: linear-gradient(#5e4a88, #6973AD);
}

.about-holder {
  background: url(../img/temple.svg) no-repeat center;
  width: 100%;
  height: 800px;
  display: block;
  z-index: 99;
}

.about-holder div.heading {
  font-family: 'RSU';
  font-size: 30px;
  color: #4D4C47;
  position: absolute;
  margin-top: 186px;
  width: 100vw;
  text-align: center;
}

.about-holder div.content {
  font-family: 'RSU';
  font-size: 30px;
  color: #ddd;
  line-height: 35px;
  position: absolute;
  margin-top: 260px;
  width: 650px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px 20px;
  left: calc(50% - 650px / 2);
}

.logo {
  background: url(../img/logo.svg) no-repeat;
  background-position: center;
  width: 100%;
  height: 320px;
  margin-top: 70px;
  margin-bottom: 20px;
  background-size: 600px;
}

.division-wrapper {
  width: 100%;
  background: linear-gradient(#6973AD, #6BC9E9);
}

.temple-division {
  padding-top: 200px;
  background: url(../img/temple_division.svg) center no-repeat;
  width: 100%;
  height: 800px;
  z-index: 99;
  display: block;
  z-index: 99;
  text-align: center;
}

.temple-division-selector {
  display: inline-block;
  margin: 150px -70px 40px -70px;
  width: 450px;
  height: 550px;
  transition: .1s ease;
}

.temple-division-selector:hover {
  transform: scale(1.05);
  transition: .1s ease;
}

.temple-content {
  background: url(../img/characters/content.svg) center no-repeat;
}

.temple-marketing {
  background: url(../img/characters/marketing.svg) center no-repeat;
}

.temple-design {
  background: url(../img/characters/design.svg) center no-repeat;
}

.temple-programming {
  background: url(../img/characters/programming.svg) center no-repeat;
}

.big-registration-button {
  margin-top: -100px;
  display: inline-block;
  background-color: #4D4C47;
  z-index: 999;
  width: auto;
  border-radius: 360px;
  position: relative;
  padding: 15px 20px;
}

.big-registration-button {
  font-size: 28px;
  font-family: "RSU", sans-serif;
  transition: .1s ease;
}

.big-registration-button:hover {
  transform: scale(1.05);
  transition: .1s ease;
}

.register-number {
  display: block;
  bottom: 0;
  margin-top: 410px;
  margin-left: 13px;
  color: #333;
  font-family: "KeepCalm", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.register-type {
  font-family: "RSU", sans-serif;
  display: block;
  font-size: 17px;
}

.time-location-gall {
  background: linear-gradient(#6BC9E9, #FCFEFF);
  min-height: 1500px;
}

.timeline-heading {
  position: absolute;
  width: 100vw;
  height: 120px;
  z-index: 999;
  color: #594B44;
  text-align: center;
  background: url(../img/timeline-heading.svg) no-repeat center;
}

.timeline-heading>h2 {
  margin-top: 38px;
  font-family: "KeepCalm", sans-serif;
  font-size: 40px;
}

.timeline-heading>span {
  font-family: 'RSU';
  font-size: 25px;
}

.timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  position: absolute;
  padding-top: 200px;
}

.timeline-item {
  padding: 0 20px;
  height: 340px;
  width: 340px;
  background: url(../img/timeline.svg) no-repeat;
}

.timeline-item>.foot {
  position: relative;
  color: #54463D;
  width: 85%;
  top: 230px;
  text-align: center;
}

.timeline-item>.foot>h2 {
  font-family: 'RSU';
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.timeline-item>.foot>span {
  font-family: 'RSU';
  font-size: 18px;
}

.cliff {
  background: url(../img/cliff.svg) center no-repeat;
  height: 1700px;
  width: 1700px;
  margin-left: -30%;
}

.location-wrapper {
  width: 100vw;
  margin-top: 700px;
  height: 750px;
  position: absolute;
  background: url(../img/content-background.svg) center no-repeat;
}

.location-wrapper>.content {
  width: 1000px;
  color: black;
  margin: auto auto;
  margin-top: 30px;
}

.location-wrapper>.header {
  width: 100%;
  color: #584B44;
  margin-top: 100px;
  text-align: center;
}

.location-wrapper>.header>h2 {
  font-family: "KeepCalm", sans-serif;
  font-size: 50px;
}

.location-wrapper>.header>span {
  font-family: 'RSU';
  font-size: 30px;
}

.qa {
  height: 1000px;
}

.qa-wrapper {
  width: 100vw;
  height: 750px;
  margin-top: 100px;
  position: absolute;
  background: url(../img/content-background.svg) center no-repeat;
}

.qa-wrapper>.content {
  width: 1000px;
  color: black;
  margin: auto auto;
  margin-top: 30px;
  display: flex;
}

.qa-main-questions-list {
  width: 300px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.qa-main-question {
  display: block;
  cursor: pointer;
  text-align: center;
  color: #99928D;
  font-family: 'RSU';
  font-size: 25px;
  padding: 20px 0;
}

.qa-main-question.active {
  color: #4C3A34;
  background: #DFD8CB;
}

.qa-main-questions-list .simplebar-track .simplebar-scrollbar::before {
  background-color: #5d4a43;
}

.qa-main-answers {
  flex: 1;
  padding: 20px;
  color: #412C20!important;
}

.qa-wrapper>.header {
  width: 100%;
  color: #584B44;
  margin-top: 100px;
  text-align: center;
}

.qa-wrapper>.header>h2 {
  font-family: "KeepCalm", sans-serif;
  font-size: 50px;
}

.qa-wrapper>.header>span {
  font-family: 'RSU';
  font-size: 30px;
}

.sponsor {
	height: 2000px;
}

.sponsor-wrapper {
	width: 100vw;
	height: 980px;
	background: url(../img/sponsor-background.svg) no-repeat center;
}

.sponsor-wrapper>.header {
  width: 100%;
  color: #584B44;
  text-align: center;
}

.sponsor-wrapper>.header>h2 {
  font-family: "KeepCalm", sans-serif;
	padding-top: 80px;
  font-size: 50px;
}

.sponsor-wrapper>.header>span {
  font-family: 'RSU';
  font-size: 30px;
}

.sponsor-wrapper>.content {
  width: 1000px;
  color: #3E2D22;
	line-height: 30px;
  margin: auto auto;
  margin-top: 30px;
}

footer {
  display: none;
}